.article {
    display: flex;
    flex-direction: column;
    width: 908px;
    min-height: 140px;
    padding: 15px 14px 24px 19px;
    // margin-left: calc(50% - 938px/2);
    // margin-top: 0px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 26px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}
.article-title {
    display: flex;
    flex-direction: row;
    width: 682px;
}
.article-head{
    max-width: 682px;
    min-height: 28px;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    margin:0;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #1890FF;
}
.article-head-link{
    text-decoration: none; 
}
.article-btn{
    background-color: white;
    border:white;
    padding: 0;
    height: 30px;
    border-radius: 5px;

}

.article-like{
    width: 16px;
    height: 16px;
    margin-left: 13px;
    // margin-top: 18px;
}
.article-likeNum{
    width: 13px;
    height: 22px;
    margin: 4px 0 0 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
}
.article-tags{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    max-width: 682px;
}
.article-tag{
    display: flex;
    justify-content: center;
    min-height: 20px;
    padding: 2px 5px;
    line-height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    margin: 4px 8px 0 0;
    overflow-wrap: anywhere;
}
.article-description{
    width: 682px;
    min-height: 45px;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
    overflow-wrap: anywhere;
}
.article-author{
    position: absolute;
    height: 28px;
    right: 72px;
    top: 15px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);
}
.article-createdAt{
    position: absolute;
    height: 22px;
    right: 72px;
    top: 39px;
    margin:0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.article-author-foto{
    position: absolute;
    width: 46px;
    height: 46px;
    right: 14px;
    top: 15px;
    border-radius: 100px;
}

.post{
    width: 908px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 106px 250px 64px 250px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 15px 14px 24px 19px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));

}
.post-body{
    width: 880px;
    min-height: 685px;
    margin-top: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
    // overflow-wrap: anywhere;
}
.delete{
    position: absolute;
    width: 78px;
    left: 769px;
    top: 91px;
    color: #F5222D;
    border: 1px solid #F5222D;
}
.edit{
    position: absolute;
    width: 66px;
    left: 859px;
    top: 91px;
    color: #52C41A;
    border: 1px solid #52C41A;
}
.delete:hover{
    background-color: #f5222d30;
}
.edit:hover{
    background-color: #55c59854;
}
