.header{
    position: absolute;
    height: 80px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #FFFFFF;
}
.main{
    max-width: 900px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}

.header-name{
    width: 147px;
    height: 56px;
    left: 22px;
    top: 9px;
    margin: 0;
    border: 1px solid white;
}
.header-signIn{
    width: 109px;
    height: 51px;
    left: 1200px;
    top: 16px;
    padding: 1em;
}
.btn-header{
    position: absolute;
    background-color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    
}
.header-right{
    width: 109px;
    height: 51px;
    left: 1309px;
    top: 16px;
    padding: 1em;
}
.header-right:hover, .header-signIn:hover, .header-createArticle:hover{
    border: 1px solid #52C41A;
    color: #52C41A;
    border-radius: 5px;
}
.header-createArticle{
    width: 130px;
    height: 32px;
    left: 1003px;
    top: 25px;
}
.header-author{
    height: 28px;
    right: 217px;
    top: 28px;
}
.header-author-foto{
    position: absolute;
    width: 46px;
    height: 46px;
    right: 158px;
    top: 19px;
    border-radius: 100px;
}


