.articleList {
    padding: 0;
    margin: 106px 250px 0 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pagination{
    margin-bottom: 17px;
    margin-left: 40%;
}