.post{
    width: 908px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 106px 250px 64px 250px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 15px 14px 24px 19px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));

}